$light-dimension-scale: 2px;
$light-dimension-xs: 4px;
$light-dimension-sm: 8px;
$light-dimension-md: 16px;
$light-dimension-lg: 32px;
$light-dimension-xl: 64px;
$light-spacing-xs: 4px;
$light-spacing-sm: 8px;
$light-spacing-md: 16px;
$light-spacing-lg: 32px;
$light-spacing-xl: 64px;
$light-spacing-multi-value: 8px 64px; // You can have multiple values in a single spacing token. Read more on these: https://docs.tokens.studio/available-tokens/spacing-tokens#multi-value-spacing-tokens
$light-spacing-superbig: 60px;
$light-border-radius-sm: 4px;
$light-border-radius-lg: 8px;
$light-border-radius-xl: 16px;
$light-border-radius-multi-value: 4px 8px; // You can have multiple values in a single radius token. Read more on these: https://docs.tokens.studio/available-tokens/border-radius-tokens#single--multiple-values
$light-colors-black: #333333;
$light-colors-white: #ffffff;
$light-colors-gray-100: #f7fafc;
$light-colors-gray-200: #edf2f7;
$light-colors-gray-300: #e2e8f0;
$light-colors-gray-400: #cbd5e0;
$light-colors-gray-500: #a0aec0;
$light-colors-gray-600: #718096;
$light-colors-gray-700: #4a5568;
$light-colors-gray-800: #2d3748;
$light-colors-gray-900: #1a202c;
$light-colors-red-100: #fff5f5;
$light-colors-red-200: #fed7d7;
$light-colors-red-300: #feb2b2;
$light-colors-red-400: #fc8181;
$light-colors-red-500: #f56565;
$light-colors-red-600: #e53e3e;
$light-colors-red-700: #c53030;
$light-colors-red-800: #9b2c2c;
$light-colors-red-900: #742a2a;
$light-colors-orange-100: #fffaf0;
$light-colors-orange-200: #feebc8;
$light-colors-orange-300: #fbd38d;
$light-colors-orange-400: #f6ad55;
$light-colors-orange-500: #ed8936;
$light-colors-orange-600: #dd6b20;
$light-colors-orange-700: #c05621;
$light-colors-orange-800: #9c4221;
$light-colors-orange-900: #7b341e;
$light-colors-yellow-100: #fffff0;
$light-colors-yellow-200: #fefcbf;
$light-colors-yellow-300: #faf089;
$light-colors-yellow-400: #f6e05e;
$light-colors-yellow-500: #ecc94b;
$light-colors-yellow-600: #d69e2e;
$light-colors-yellow-700: #b7791f;
$light-colors-yellow-800: #975a16;
$light-colors-yellow-900: #744210;
$light-colors-green-100: #f0fff4;
$light-colors-green-200: #c6f6d5;
$light-colors-green-300: #9ae6b4;
$light-colors-green-400: #68d391;
$light-colors-green-500: #48bb78;
$light-colors-green-600: #38a169;
$light-colors-green-700: #2f855a;
$light-colors-green-800: #276749;
$light-colors-green-900: #22543d;
$light-colors-teal-100: #e6fffa;
$light-colors-teal-200: #b2f5ea;
$light-colors-teal-300: #81e6d9;
$light-colors-teal-400: #4fd1c5;
$light-colors-teal-500: #38b2ac;
$light-colors-teal-600: #319795;
$light-colors-teal-700: #2c7a7b;
$light-colors-teal-800: #285e61;
$light-colors-teal-900: #234e52;
$light-colors-blue-100: #ebf8ff;
$light-colors-blue-200: #bee3f8;
$light-colors-blue-300: #90cdf4;
$light-colors-blue-400: #63b3ed;
$light-colors-blue-500: #4299e1;
$light-colors-blue-600: #3182ce;
$light-colors-blue-700: #2b6cb0;
$light-colors-blue-800: #2c5282;
$light-colors-blue-900: #2a4365;
$light-colors-indigo-100: #ebf4ff;
$light-colors-indigo-200: #c3dafe;
$light-colors-indigo-300: #a3bffa;
$light-colors-indigo-400: #7f9cf5;
$light-colors-indigo-500: #667eea;
$light-colors-indigo-600: #5a67d8;
$light-colors-indigo-700: #4c51bf;
$light-colors-indigo-800: #434190;
$light-colors-indigo-900: #3c366b;
$light-colors-purple-100: #faf5ff;
$light-colors-purple-200: #e9d8fd;
$light-colors-purple-300: #d6bcfa;
$light-colors-purple-400: #b794f4;
$light-colors-purple-500: #9f7aea;
$light-colors-purple-600: #805ad5;
$light-colors-purple-700: #6b46c1;
$light-colors-purple-800: #553c9a;
$light-colors-purple-900: #44337a;
$light-colors-pink-100: #fff5f7;
$light-colors-pink-200: #fed7e2;
$light-colors-pink-300: #fbb6ce;
$light-colors-pink-400: #f687b3;
$light-colors-pink-500: #ed64a6;
$light-colors-pink-600: #d53f8c;
$light-colors-pink-700: #b83280;
$light-colors-pink-800: #97266d;
$light-colors-pink-900: #702459;
$light-colors-redbean: #a53131;
$light-colors-bubbleggum: #7cc9ff;
$light-opacity-low: 0.1;
$light-opacity-md: 0.5;
$light-opacity-high: 0.9;
$light-font-families-heading: Inter;
$light-font-families-body: Roboto;
$light-line-heights-heading: 1.1;
$light-line-heights-body: 1.4;
$light-letter-spacing-default: 0;
$light-letter-spacing-increased: 1.5em;
$light-letter-spacing-decreased: -0.05em;
$light-paragraph-spacing-h1: 32px;
$light-paragraph-spacing-h2: 26px;
$light-font-weights-heading-regular: 400;
$light-font-weights-heading-bold: 700;
$light-font-weights-body-regular: 400;
$light-font-weights-body-bold: 700;
$light-font-sizes-h1: 49px;
$light-font-sizes-h2: 39px;
$light-font-sizes-h3: 31px;
$light-font-sizes-h4: 25px;
$light-font-sizes-h5: 20px;
$light-font-sizes-h6: 16px;
$light-font-sizes-body: 16px;
$light-font-sizes-sm: 13.6px;
$light-font-sizes-xs: 10.4px;
$light-fg-default: #333333;
$light-fg-muted: #4a5568;
$light-fg-subtle: #a0aec0;
$light-bg-default: #ffffff;
$light-bg-muted: #f7fafc;
$light-bg-subtle: #edf2f7;
$light-accent-default: #7f9cf5;
$light-accent-on-accent: #ffffff;
$light-accent-bg: #c3dafe;
$light-shadows-default: #1a202c;
$light-button-primary-background: #7f9cf5;
$light-button-primary-text: #ffffff;
$light-button-border-radius: 8px;
$light-button-border-width: 8px;
$light-card-border-radius: 8px;
$light-card-background: #ffffff;
$light-card-padding: 16px;
$dark-dimension-scale: 2px;
$dark-dimension-xs: 4px;
$dark-dimension-sm: 8px;
$dark-dimension-md: 16px;
$dark-dimension-lg: 32px;
$dark-dimension-xl: 64px;
$dark-spacing-xs: 4px;
$dark-spacing-sm: 8px;
$dark-spacing-md: 16px;
$dark-spacing-lg: 32px;
$dark-spacing-xl: 64px;
$dark-spacing-multi-value: 8px 64px; // You can have multiple values in a single spacing token. Read more on these: https://docs.tokens.studio/available-tokens/spacing-tokens#multi-value-spacing-tokens
$dark-spacing-superbig: 60px;
$dark-border-radius-sm: 4px;
$dark-border-radius-lg: 8px;
$dark-border-radius-xl: 16px;
$dark-border-radius-multi-value: 4px 8px; // You can have multiple values in a single radius token. Read more on these: https://docs.tokens.studio/available-tokens/border-radius-tokens#single--multiple-values
$dark-colors-black: #333333;
$dark-colors-white: #ffffff;
$dark-colors-gray-100: #f7fafc;
$dark-colors-gray-200: #edf2f7;
$dark-colors-gray-300: #e2e8f0;
$dark-colors-gray-400: #cbd5e0;
$dark-colors-gray-500: #a0aec0;
$dark-colors-gray-600: #718096;
$dark-colors-gray-700: #4a5568;
$dark-colors-gray-800: #2d3748;
$dark-colors-gray-900: #1a202c;
$dark-colors-red-100: #fff5f5;
$dark-colors-red-200: #fed7d7;
$dark-colors-red-300: #feb2b2;
$dark-colors-red-400: #fc8181;
$dark-colors-red-500: #f56565;
$dark-colors-red-600: #e53e3e;
$dark-colors-red-700: #c53030;
$dark-colors-red-800: #9b2c2c;
$dark-colors-red-900: #742a2a;
$dark-colors-orange-100: #fffaf0;
$dark-colors-orange-200: #feebc8;
$dark-colors-orange-300: #fbd38d;
$dark-colors-orange-400: #f6ad55;
$dark-colors-orange-500: #ed8936;
$dark-colors-orange-600: #dd6b20;
$dark-colors-orange-700: #c05621;
$dark-colors-orange-800: #9c4221;
$dark-colors-orange-900: #7b341e;
$dark-colors-yellow-100: #fffff0;
$dark-colors-yellow-200: #fefcbf;
$dark-colors-yellow-300: #faf089;
$dark-colors-yellow-400: #f6e05e;
$dark-colors-yellow-500: #ecc94b;
$dark-colors-yellow-600: #d69e2e;
$dark-colors-yellow-700: #b7791f;
$dark-colors-yellow-800: #975a16;
$dark-colors-yellow-900: #744210;
$dark-colors-green-100: #f0fff4;
$dark-colors-green-200: #c6f6d5;
$dark-colors-green-300: #9ae6b4;
$dark-colors-green-400: #68d391;
$dark-colors-green-500: #48bb78;
$dark-colors-green-600: #38a169;
$dark-colors-green-700: #2f855a;
$dark-colors-green-800: #276749;
$dark-colors-green-900: #22543d;
$dark-colors-teal-100: #e6fffa;
$dark-colors-teal-200: #b2f5ea;
$dark-colors-teal-300: #81e6d9;
$dark-colors-teal-400: #4fd1c5;
$dark-colors-teal-500: #38b2ac;
$dark-colors-teal-600: #319795;
$dark-colors-teal-700: #2c7a7b;
$dark-colors-teal-800: #285e61;
$dark-colors-teal-900: #234e52;
$dark-colors-blue-100: #ebf8ff;
$dark-colors-blue-200: #bee3f8;
$dark-colors-blue-300: #90cdf4;
$dark-colors-blue-400: #63b3ed;
$dark-colors-blue-500: #4299e1;
$dark-colors-blue-600: #3182ce;
$dark-colors-blue-700: #2b6cb0;
$dark-colors-blue-800: #2c5282;
$dark-colors-blue-900: #2a4365;
$dark-colors-indigo-100: #ebf4ff;
$dark-colors-indigo-200: #c3dafe;
$dark-colors-indigo-300: #a3bffa;
$dark-colors-indigo-400: #7f9cf5;
$dark-colors-indigo-500: #667eea;
$dark-colors-indigo-600: #5a67d8;
$dark-colors-indigo-700: #4c51bf;
$dark-colors-indigo-800: #434190;
$dark-colors-indigo-900: #3c366b;
$dark-colors-purple-100: #faf5ff;
$dark-colors-purple-200: #e9d8fd;
$dark-colors-purple-300: #d6bcfa;
$dark-colors-purple-400: #b794f4;
$dark-colors-purple-500: #9f7aea;
$dark-colors-purple-600: #805ad5;
$dark-colors-purple-700: #6b46c1;
$dark-colors-purple-800: #553c9a;
$dark-colors-purple-900: #44337a;
$dark-colors-pink-100: #fff5f7;
$dark-colors-pink-200: #fed7e2;
$dark-colors-pink-300: #fbb6ce;
$dark-colors-pink-400: #f687b3;
$dark-colors-pink-500: #ed64a6;
$dark-colors-pink-600: #d53f8c;
$dark-colors-pink-700: #b83280;
$dark-colors-pink-800: #97266d;
$dark-colors-pink-900: #702459;
$dark-colors-redbean: #a53131;
$dark-colors-bubbleggum: #7cc9ff;
$dark-opacity-low: 0.1;
$dark-opacity-md: 0.5;
$dark-opacity-high: 0.9;
$dark-font-families-heading: Inter;
$dark-font-families-body: Roboto;
$dark-line-heights-heading: 1.1;
$dark-line-heights-body: 1.4;
$dark-letter-spacing-default: 0;
$dark-letter-spacing-increased: 1.5em;
$dark-letter-spacing-decreased: -0.05em;
$dark-paragraph-spacing-h1: 32px;
$dark-paragraph-spacing-h2: 26px;
$dark-font-weights-heading-regular: 400;
$dark-font-weights-heading-bold: 700;
$dark-font-weights-body-regular: 400;
$dark-font-weights-body-bold: 700;
$dark-font-sizes-h1: 49px;
$dark-font-sizes-h2: 39px;
$dark-font-sizes-h3: 31px;
$dark-font-sizes-h4: 25px;
$dark-font-sizes-h5: 20px;
$dark-font-sizes-h6: 16px;
$dark-font-sizes-body: 16px;
$dark-font-sizes-sm: 13.6px;
$dark-font-sizes-xs: 10.4px;
$dark-fg-default: #ffffff;
$dark-fg-muted: #e2e8f0;
$dark-fg-subtle: #a0aec0;
$dark-bg-default: #1a202c;
$dark-bg-muted: #4a5568;
$dark-bg-subtle: #718096;
$dark-accent-default: #5a67d8;
$dark-accent-on-accent: #ffffff;
$dark-accent-bg: #434190;
$dark-shadows-default: rgba(51, 51, 51, 0.3);
$dark-button-primary-background: #5a67d8;
$dark-button-primary-text: #ffffff;
$dark-button-border-radius: 8px;
$dark-button-border-width: 8px;
$dark-card-border-radius: 8px;
$dark-card-background: #1a202c;
$dark-card-padding: 16px;
$light-box-shadow-default-1-spread: 3px;
$light-box-shadow-default-1-color: rgba(26, 32, 44, 0.15);
$light-box-shadow-default-1-blur: 5px;
$light-box-shadow-default-1-type: dropShadow;
$light-box-shadow-default-1-offset-x: 5px;
$light-box-shadow-default-1-offset-y: 5px;
$light-box-shadow-default-2-spread: 6px;
$light-box-shadow-default-2-color: #00000033;
$light-box-shadow-default-2-blur: 5px;
$light-box-shadow-default-2-type: innerShadow;
$light-box-shadow-default-2-offset-x: 4px;
$light-box-shadow-default-2-offset-y: 4px;
$light-typography-h1-bold-font-family: Inter;
$light-typography-h1-bold-font-weight: 700;
$light-typography-h1-bold-line-height: 1.1;
$light-typography-h1-bold-font-size: 49px;
$light-typography-h1-bold-paragraph-spacing: 32px;
$light-typography-h1-bold-letter-spacing: -0.05em;
$light-typography-h1-regular-font-family: Inter;
$light-typography-h1-regular-font-weight: 400;
$light-typography-h1-regular-line-height: 1.1;
$light-typography-h1-regular-font-size: 49px;
$light-typography-h1-regular-paragraph-spacing: 32px;
$light-typography-h1-regular-letter-spacing: -0.05em;
$light-typography-h2-bold-font-family: Inter;
$light-typography-h2-bold-font-weight: 700;
$light-typography-h2-bold-line-height: 1.1;
$light-typography-h2-bold-font-size: 39px;
$light-typography-h2-bold-paragraph-spacing: 26px;
$light-typography-h2-bold-letter-spacing: -0.05em;
$light-typography-h2-regular-font-family: Inter;
$light-typography-h2-regular-font-weight: 400;
$light-typography-h2-regular-line-height: 1.1;
$light-typography-h2-regular-font-size: 39px;
$light-typography-h2-regular-paragraph-spacing: 26px;
$light-typography-h2-regular-letter-spacing: -0.05em;
$light-typography-body-font-family: Roboto;
$light-typography-body-font-weight: 400;
$light-typography-body-line-height: 1.1;
$light-typography-body-font-size: 16px;
$light-typography-body-paragraph-spacing: 26px;
$dark-box-shadow-default-1-spread: 3px;
$dark-box-shadow-default-1-color: rgba(rgba(51, 51, 51, 0.3), 0.15);
$dark-box-shadow-default-1-blur: 5px;
$dark-box-shadow-default-1-type: dropShadow;
$dark-box-shadow-default-1-offset-x: 5px;
$dark-box-shadow-default-1-offset-y: 5px;
$dark-box-shadow-default-2-spread: 6px;
$dark-box-shadow-default-2-color: #00000033;
$dark-box-shadow-default-2-blur: 5px;
$dark-box-shadow-default-2-type: innerShadow;
$dark-box-shadow-default-2-offset-x: 4px;
$dark-box-shadow-default-2-offset-y: 4px;
$dark-typography-h1-bold-font-family: Inter;
$dark-typography-h1-bold-font-weight: 700;
$dark-typography-h1-bold-line-height: 1.1;
$dark-typography-h1-bold-font-size: 49px;
$dark-typography-h1-bold-paragraph-spacing: 32px;
$dark-typography-h1-bold-letter-spacing: -0.05em;
$dark-typography-h1-regular-font-family: Inter;
$dark-typography-h1-regular-font-weight: 400;
$dark-typography-h1-regular-line-height: 1.1;
$dark-typography-h1-regular-font-size: 49px;
$dark-typography-h1-regular-paragraph-spacing: 32px;
$dark-typography-h1-regular-letter-spacing: -0.05em;
$dark-typography-h2-bold-font-family: Inter;
$dark-typography-h2-bold-font-weight: 700;
$dark-typography-h2-bold-line-height: 1.1;
$dark-typography-h2-bold-font-size: 39px;
$dark-typography-h2-bold-paragraph-spacing: 26px;
$dark-typography-h2-bold-letter-spacing: -0.05em;
$dark-typography-h2-regular-font-family: Inter;
$dark-typography-h2-regular-font-weight: 400;
$dark-typography-h2-regular-line-height: 1.1;
$dark-typography-h2-regular-font-size: 39px;
$dark-typography-h2-regular-paragraph-spacing: 26px;
$dark-typography-h2-regular-letter-spacing: -0.05em;
$dark-typography-body-font-family: Roboto;
$dark-typography-body-font-weight: 400;
$dark-typography-body-line-height: 1.1;
$dark-typography-body-font-size: 16px;
$dark-typography-body-paragraph-spacing: 26px;
